html, body {
  width: 100%;
  height: 100%;
}
body {
  font-family: 'Silkscreen', monospace;
  background-color: black;
  margin: 0;
  font-size: 0;
}
#tile-wrapper {
  position: fixed;
}
.tile {
  position: absolute;
  top: 0;
  left: 0;
  width: 150px;
  height: 150px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  image-rendering: pixelated;
}
